<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tourdulich">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|keyboard|keyboardHidden"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourDuLich"
        tools:targetApi="31">
        <activity
            android:name=".Page.SuaThongTinDanhMuc"
            android:exported="false" />
        <activity
            android:name=".Page.QuanLyDanhMuc"
            android:exported="false" />
        <activity
            android:name=".Page.CapNhatUser"
            android:exported="false" />
        <activity
            android:name=".Page.QuanLyUser"
            android:exported="false" />
        <activity
            android:name=".Page.HuyVe"
            android:exported="false" />
        <activity
            android:name=".Page.XemBinhLuanChuaDangNhap"
            android:exported="false" />
        <activity
            android:name=".Page.XemBinhLuan"
            android:exported="false" />
        <activity
            android:name=".Page.ChiTietDatVe"
            android:exported="false" />
        <activity
            android:name=".Page.TrangChuAdmin"
            android:exported="false" />
        <activity
            android:name=".Page.DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".Page.ChinhSuaThongTinCaNhan"
            android:exported="false" />
        <activity
            android:name=".Page.GiaoDich"
            android:exported="false" />
        <activity
            android:name=".Page.TinTuc"
            android:exported="false" />
        <activity
            android:name=".Page.ThongTinChuaDangNhap"
            android:exported="false" />
        <activity
            android:name=".Dialog.BoLocDatVe"
            android:exported="false" />
        <activity
            android:name=".Page.ThongTinDatVe"
            android:exported="false" />
        <activity
            android:name=".Page.DatVe"
            android:exported="false" />
        <activity
            android:name=".Page.ThongTinCaNhan"
            android:exported="false" />
        <activity
            android:name=".Page.TrangDangKy"
            android:exported="false" />
        <activity
            android:name=".Page.TrangQuenMK"
            android:exported="false" />
        <activity
            android:name=".Page.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.TourDuLich" />
        <activity
            android:name=".Page.TrangChu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>